*.pyc
build/*
dist/*
MANIFEST.in
mocodo.egg-info/*
params.json
README.rst
sandbox/*
meta/*
doc/mocodo_notebook
doc/.ipynb*
sandbox*.*
paper/*
*.lp
*.log
.DS_Store
magic/build/*
magic/dist/*
magic/mocodo_magic.egg-info/*
magic/README.rst
web/sessions/*
web/lib/*
.pytest_cache/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
poetry.lock
mocodo_web.py
doc/Untitled.ipynb
*.vsix
mocodo/resources/relation_templates/_graph.gv
mocodo/resources/relation_templates/_graph.svg
EGC2024

test/zoo/complex/mld/complex_mld.html
test/zoo/complex/mld/complex_mld.md
test/zoo/complex/mld/complex_mld.txt
test/zoo/drain/mld/drain_mld.html
test/zoo/drain/mld/drain_mld.md
test/zoo/drain/mld/drain_mld.txt
test/zoo/empty_attrs/mld/empty_attrs_0_mld.html
test/zoo/empty_attrs/mld/empty_attrs_0_mld.md
test/zoo/empty_attrs/mld/empty_attrs_0_mld.txt
test/zoo/gerund/mld/gerund_0_mld.html
test/zoo/gerund/mld/gerund_0_mld.md
test/zoo/gerund/mld/gerund_0_mld.txt
test/zoo/minimal/mld/minimal_mld.html
test/zoo/minimal/mld/minimal_mld.md
test/zoo/minimal/mld/minimal_mld.txt
test/zoo/reflexive/mld/reflexive_0_mld.html
test/zoo/reflexive/mld/reflexive_0_mld.md
test/zoo/reflexive/mld/reflexive_0_mld.txt
test/zoo/ternary_unicity/mld/ternary_unicity_0_mld.html
test/zoo/ternary_unicity/mld/ternary_unicity_0_mld.md
test/zoo/ternary_unicity/mld/ternary_unicity_0_mld.txt
test/zoo/triple_111/mld/triple_111_0_mld.html
test/zoo/triple_111/mld/triple_111_0_mld.md
test/zoo/triple_111/mld/triple_111_0_mld.txt
test/zoo/triple_111/mld/triple_111_1_mld.html
test/zoo/triple_111/mld/triple_111_1_mld.md
test/zoo/triple_111/mld/triple_111_1_mld.txt
test/zoo/triple_N11/mld/triple_N11_0_mld.html
test/zoo/triple_N11/mld/triple_N11_0_mld.md
test/zoo/triple_N11/mld/triple_N11_0_mld.txt
test/zoo/triple_NN1/mld/triple_NN1_0_mld.html
test/zoo/triple_NN1/mld/triple_NN1_0_mld.md
test/zoo/triple_NN1/mld/triple_NN1_0_mld.txt
test/zoo/triple_NNN/mld/triple_NNN_0_mld.html
test/zoo/triple_NNN/mld/triple_NNN_0_mld.md
test/zoo/triple_NNN/mld/triple_NNN_0_mld.txt
test/zoo/weak/mld/weak_0_mld.html
test/zoo/weak/mld/weak_0_mld.md
test/zoo/weak/mld/weak_0_mld.txt
