*.pyc
build/*
dist/*
index.html
MANIFEST.in
mocodo.egg-info/*
params.json
README.rst
web/*
sandbox/*
meta/*
doc/mocodo_notebook
doc/.ipynb*
sandbox*.*
paper/*
*.lp
*.log
.DS_Store

magic/build/*
magic/dist/*
magic/mocodo_magic.egg-info/*
magic/README.rst
