*.pyc
build/*
dist/*
MANIFEST.in
mocodo.egg-info/*
params.json
README.rst
sandbox/*
meta/*
doc/mocodo_notebook
doc/.ipynb*
sandbox*.*
paper/*
*.lp
*.log
.DS_Store
magic/build/*
magic/dist/*
magic/mocodo_magic.egg-info/*
magic/README.rst
web/sessions/*
web/lib/*
.pytest_cache/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
poetry.lock
mocodo_web.py
doc/Untitled.ipynb
*.vsix
mocodo/resources/relation_templates/_graph.gv
mocodo/resources/relation_templates/_graph.svg
EGC2024
looping/

